{%extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{user.profile.profile_photo.url}}" style="width:200px">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>


      <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'update' %}">Update Profile Details</a>
        </small>
    </div>
    </form>





    </div>

    <div class="container">
        <div class="row">
        {% for image in images %}
        <div class="col-md-4 mt-4">
          <div class="card zoom">
                <img src="{{image.gallery_image.url}}" style="width:100%;height:56%;" class="img-responsive" alt="Image">
          </div>
        </div>
        {% endfor %}
    
      </div>
    </div>
{% endblock content %}







    
