{%extends 'base.html'%}
{%load crispy_forms_tags%}


{% block content %}
{{block.super}}

<h1>Welcome to InstaClone</h1>
<h2>Upload pics below! </h2>


<div class="container">
    <div class="row">
    {% for image in images %}
    <div class="col-md-4 mt-4">
        <p>{{image.user.user.username|title}}</p>

      <div class="card zoom">
            <a href="{% url 'image' image.id %}"><img src="{{image.gallery_image.url}}" style="width:100%;height:56%;" class="img-responsive" alt="Image"></a>
            <p>Caption: {{image.image_caption}}</p>
            <p>Posted on: {{image.pub_date}}</p> <br><br>

            

            



            
      </div>
    </div>
    {% endfor %}

  </div>
</div>




<div class="row">
    <div class="col-md-10">
        <div class="card mt-4 mr-2 ml-2">
            <div class="card-title text-secondary mt-2 mr-2 ml-2 ">Suggestions</div>
            {% for user in users %}
            <div class="container">
                <div class="row">
                    <div class="col-md-2 mr-3 mt-1 mb-2">
                        <img class="rounded-circle" src="{{ user.profile.profile_picture.url }}"
                             width="45px" height="45px">
                    </div>
                    <div class="col-md-6 mr-2 mt-2">
                        <span><a href="{% url 'user_profile' user.username  %}">{{user.username}}</a></span>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>





{%load cloudinary%}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Upload Pic</legend>

        {{ form|crispy }}

    </fieldset>
    <div class="from-group">
        <button class="btn btn-outline-info" type="submit">Upload</button>
    </div>
</form>



{% endblock %}


